@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/lato/Lato-Light.ttf");
}

* {
    margin: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    width: 1020px;
    height: 100vh;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    height: 89px;
    padding: 0 2.5em;
    border-bottom: solid 6px rgba(50, 55, 70, 1);
}

.logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

.logo_star {
    color: #f06c64;
}

.nav_list {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}

.nav_link {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    display: block;
    padding-left: 2.5em;
    cursor: pointer;
}

.nav_link__selected {
    color: #f06c64;
}

.nav_link:hover {
    color: #f06c64;
}

.slider {
    background-color: #f06c64;
    height: 594px;
    padding: 0 2em;
    border-bottom: solid 6px #ea676b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 32px;
    height: 57px;
    background-color: #f06c64;
    cursor: pointer;
    border: 0;
}

.iPhone-vertical {
    margin-right: 23px;
    background-image: url("/assets/img/iPhone-vertical.png");
    width: 240px;
    height: 483px;
    position: relative;
}

.iPhone-vertical_phone {
    position: absolute;
    bottom: 26px;
    right: 25px;
    width: 218px;
    height: 461px;
    background-image: url("/assets/img/iPhone-vertical_phone.png");
}

.iPhone-vertical_screen {
    position: absolute;
    top: 63px;
    left: 13px;
    width: 188px;
    height: 333px;
    background-image: url("/assets/img/iPhone-vertical_screen.png");
    background-position: -14px -135px;
}

.iPhone-horizontal {
    background-image: url("/assets/img/iPhone-horizontal.png");
    height: 240px;
    width: 483px;
    position: relative;
}

.iPhone-horizontal_phone {
    position: absolute;
    bottom: 26px;
    right: 23px;
    width: 461px;
    height: 218px;
    background-image: url("/assets/img/iPhone-horizontal_phone.png");
}

.iPhone-horizontal_screen {
    position: absolute;
    top: 10px;
    left: 61px;
    width: 333px;
    height: 188px;
    background-image: url("/assets/img/iPhone-horizontal_screen.png");
    background-position: -126px -119px;
}

.services {
    background-color: #f2f2f2;
    height: 494px;
    border-bottom: solid 6px #ffffff;
}