@font-face {
    font-family: "Lato-Regular";
    src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Semibold";
    src: url("./assets/fonts/Lato-Semibold.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("./assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("./assets/fonts/Lato-Light.ttf");
}

* {
    margin: 0;
}

body {
    margin: 0 auto;
    height: 100vh;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    height: 89px;
    padding: 0 2.5em;
    border-bottom: solid 6px rgba(50, 55, 70, 1);
}

.logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato-regular", sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    padding-bottom: 1px;
}

.logo__star {
    color: #f06c64;
}

.nav__list {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}

.nav__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato-Semibold", sans-serif;
    text-transform: uppercase;
    display: block;
    padding-left: 2.4em;
    cursor: pointer;
}

.nav__item {
    position: relative;
}

.nav__item::before {
    content: ".";
    color: #494e62;
    position: absolute;
    top: -10px;
    right: -17px;
}

.nav__item:last-child::before {
    display: none;
}

.nav__link_active {
    color: #f06c64;
}

.nav__link:hover {
    color: #f06c64;
}

.slider {
    background-color: #f06c64;
    height: 594px;
    padding: 0 41px 0 42px;
    border-bottom: solid 6px #ea676b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 16px;
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-bottom: 4px;
}

.button-left {
    background-image: url(./assets/img/button.png);
}

.button-left:hover {
    background-image: url(./assets/img/button-hover.png);
}

.button-right {
    transform: rotate(180deg);
    background-image: url(./assets/img/button.png);
}

.button-right:hover {
    background-image: url(./assets/img/button-hover.png);
}

.iPhone-vertical {
    background-image: url("./assets/img/iPhone_Vertical.png");
    width: 240px;
    height: 488px;
    background-repeat: no-repeat;
    margin-right: 18px;
}

.iPhone-horizontal {
    background-image: url("./assets/img/iPhone_Horizontal.png");
    height: 246px;
    width: 484px;
    background-repeat: no-repeat;
}

.services {
    background-color: #f2f2f2;
    height: 410px;
    border-bottom: solid 6px #ffffff;
    padding: 42px 40px;
}

.services__heading {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    padding: 27px 0;
}

.services__description {
    font-size: 19px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Regular", sans-serif;
    font-weight: 300;
    letter-spacing: -0.77px;
    padding-bottom: 15px;
    text-align: justify;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-services {
    display: flex;
    width: 301px;
    padding-top: 30px;
}

.item-services__icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #666d89;
    fill: #666d89;
    margin: 2px 0 0 1px;
}

.icon__svg-pen {
    padding-top: 11px;
    padding-left: 11px;
}

.icon__svg-bulb {
    padding-top: 10px;
    padding-left: 15px;
}

.icon__svg-heart {
    padding-top: 12px;
    padding-left: 10px;
}

.icon__svg-phone {
    padding-top: 10px;
    padding-left: 15px;
}

.icon__svg-bubble {
    padding-top: 13px;
    padding-left: 11px;
}

.icon__svg-star {
    padding-top: 11px;
    padding-left: 10px;
}

.item-services__text {
    padding-left: 20px;
    width: calc(100% - 77px);
    overflow: hidden;
}

.item-services__heading {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
}

.item-services__description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Semibold", sans-serif;
    font-weight: 400;
    padding-top: 10px;
    text-align: justify;
}