@font-face {
    font-family: "Lato-Semibold";
    src: url("/assets/fonts/lato/Lato-Semibold.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("/assets/fonts/lato/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/assets/fonts/lato/Lato-Light.ttf");
}

* {
    margin: 0;
}

body {
    margin: 0 auto;
}

.wrapper {
    width: 1020px;
    height: 100vh;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    height: 89px;
    padding: 0 2.5em;
    border-bottom: solid 6px rgba(50, 55, 70, 1);
}

.logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato-Semibold", sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.logo__star {
    color: #f06c64;
}

.nav__list {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}

.nav__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato-Semibold", sans-serif;
    text-transform: uppercase;
    display: block;
    padding-left: 2.4em;
    cursor: pointer;
}

.nav__item {
    position: relative;
}

.nav__item::before {
    content: ".";
    color: #494e62;
    position: absolute;
    top: -10px;
    right: -17px;
}

.nav__item:last-child::before {
    display: none;
}

.nav__link_selected {
    color: #f06c64;
}

.nav__link:hover {
    color: #f06c64;
}

.slider {
    background-color: #f06c64;
    height: 594px;
    padding: 0 32px 0 34px;
    border-bottom: solid 6px #ea676b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 32px;
    height: 57px;
    background-color: #f06c64;
    cursor: pointer;
    border: 0;
}

.iPhone-vertical {
    margin: 0 29px 5px 0;
    background-image: url("/assets/img/iPhone-vertical.png");
    width: 240px;
    height: 483px;
    position: relative;
}

.iPhone-vertical__phone {
    position: absolute;
    bottom: 23px;
    right: 24px;
    width: 218px;
    height: 461px;
    background-image: url("/assets/img/iPhone-vertical_phone.png");
}

.iPhone-vertical__screen {
    position: absolute;
    top: 65px;
    left: 14px;
    width: 188px;
    height: 333px;
    background-image: url("/assets/img/iPhone-vertical_screen.png");
    background-position: -14px -135px;
}

.iPhone-horizontal {
    background-image: url("/assets/img/iPhone-horizontal.png");
    height: 240px;
    width: 483px;
    position: relative;
    margin: 0 1px 6px 0;
}

.iPhone-horizontal__phone {
    position: absolute;
    bottom: 23px;
    right: 24px;
    width: 461px;
    height: 218px;
    background-image: url("/assets/img/iPhone-horizontal_phone.png");
}

.iPhone-horizontal__screen {
    position: absolute;
    top: 14px;
    left: 59px;
    width: 333px;
    height: 188px;
    background-image: url("/assets/img/iPhone-horizontal_screen.png");
    background-position: -125px -119px;
}

.services {
    background-color: #f2f2f2;
    height: 494px;
    border-bottom: solid 6px #ffffff;
    padding: 44px 40px;
}

.services__heading {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    padding: 25px 0;
}

.services__description {
    font-size: 18px;
    line-height: 31px;
    color: #767e9e;
    font-family: "Lato-Light", sans-serif;
    font-weight: 300;
    letter-spacing: -0.05px;
    padding-bottom: 2px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    display: flex;
    width: 301px;
    padding-top: 38px;
}

.services__svg-container {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #666d89;
    fill: #666d89;
    margin: 1px 0 0 1px;
}

.services__svg {
    padding-top: 11px;
    padding-left: 11px;
}

.services__item-text {
    padding-left: 22px;
    width: calc(100% - 77px);
}

.item-text__heading {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
}

.item-text__description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Light", sans-serif;
    font-weight: 400;
    padding-top: 10px;
}