@font-face {
    font-family: "Lato-Regular";
    src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Semibold";
    src: url("./assets/fonts/Lato-Semibold.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("./assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("./assets/fonts/Lato-Light.ttf");
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    height: 100vh;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    height: 5.55em;
    padding: 0 2.5em;
    border-bottom: solid 6px rgba(50, 55, 70, 1);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d303a;
    z-index: 2;
}

.logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato-regular", sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    padding-bottom: 1px;
    z-index: 3;
}

.logo__star {
    color: #f06c64;
}

.header__burger {
    display: none;
}

.nav__list {
    display: flex;
    list-style-type: none;
    padding-top: 10px;
    z-index: 2;
    position: relative;
}

.nav__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato-Semibold", sans-serif;
    text-transform: uppercase;
    display: block;
    padding-left: 2.4em;
    cursor: pointer;
}

.nav__item {
    position: relative;
}

.nav__item::before {
    content: ".";
    color: #494e62;
    position: absolute;
    top: -10px;
    right: -17px;
}

.nav__item:last-child::before {
    display: none;
}

.nav__link_active {
    color: #f06c64;
}

.nav__link:hover {
    color: #f06c64;
}

.home {
    position: relative;
    height: 37.5em;
    scroll-margin-top: 97px;
}

.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider1 {
    display: block;
    min-height: 594px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.slider1__flex {
    padding: 50px 41px 0 42px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.slider2 {
    min-height: 600px;
    background-image: url(./assets/img/Slider2.png);
    background-size: cover;
    display: block;
    background-size: contain;
}

.slider {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.9s ease-in-out;
}

.slider_active,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.button {
    width: 16px;
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-bottom: 4px;
    outline: none;
}

.button-left {
    position: absolute;
    top: 279px;
    left: 42px;
    background-image: url(./assets/img/button.png);
}

.button-left:hover {
    background-image: url(./assets/img/button-hover.png);
}

.button-right {
    position: absolute;
    top: 279px;
    right: 40px;
    transform: rotate(180deg);
    background-image: url(./assets/img/button.png);
}

.button-right:hover {
    background-image: url(./assets/img/button-hover.png);
}

.iPhone-vertical {
    background-image: url("./assets/img/iPhone_Vertical.png");
    background-size: cover;
    width: 240px;
    height: 488px;
    background-repeat: no-repeat;
    position: relative;
    transition-duration: 1s;
}

.iPhone-vertical__click {
    width: 216px;
    height: 458px;
    opacity: 0;
    position: absolute;
    border: 0;
    border-radius: 30px;
    z-index: 2;
}

.iPhone-vertical__off {
    width: 189px;
    height: 334px;
    background-color: black;
    position: absolute;
    left: 14px;
    top: 65px;
    display: none;
}

.iPhone-horizontal {
    background-image: url("./assets/img/iPhone_Horizontal.png");
    background-size: cover;
    height: 240px;
    width: 484px;
    background-repeat: no-repeat;
    position: relative;
    transition-duration: 1s;
}

.iPhone-horizontal__click {
    width: 458px;
    height: 216px;
    opacity: 0;
    position: absolute;
    border: 0;
    border-radius: 30px;
    z-index: 2;
}

.iPhone-horizontal__off {
    width: 335px;
    height: 189px;
    background-color: black;
    position: absolute;
    left: 59px;
    top: 14px;
    display: none;
}

.services {
    background-color: #f2f2f2;
    border-bottom: solid 6px #ffffff;
    padding: 42px 40px 61px 40px;
    position: relative;
    scroll-margin-top: 94px;
}

.services__heading {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    padding: 27px 0;
}

.services__description {
    font-size: 19px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Regular", sans-serif;
    font-weight: 300;
    letter-spacing: -0.77px;
    padding-bottom: 15px;
    text-align: justify;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-services {
    display: flex;
    width: 301px;
    padding-top: 30px;
}

.item-services__icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #666d89;
    fill: #666d89;
    margin: 2px 0 0 1px;
}

.icon__svg-pen {
    padding-top: 11px;
    padding-left: 11px;
}

.icon__svg-bulb {
    padding-top: 10px;
    padding-left: 15px;
}

.icon__svg-heart {
    padding-top: 12px;
    padding-left: 10px;
}

.icon__svg-phone {
    padding-top: 10px;
    padding-left: 15px;
}

.icon__svg-bubble {
    padding-top: 13px;
    padding-left: 11px;
}

.icon__svg-star {
    padding-top: 11px;
    padding-left: 10px;
}

.item-services__text {
    padding-left: 20px;
    width: calc(100% - 77px);
    overflow: hidden;
    height: 93px;
}

.item-services {
    transition-duration: 1s;
}

.item-services__heading {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
}

.item-services__description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Semibold", sans-serif;
    font-weight: 400;
    padding-top: 10px;
    text-align: justify;
}

.portfolio {
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    padding: 43px 36px 42px 29px;
    position: relative;
    scroll-margin-top: 94px;
}

.portfolio__heading {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    padding: 27px 10px;
    letter-spacing: 0.2px;
}

.portfolio__description {
    font-size: 19px;
    line-height: 30px;
    color: #666d89;
    font-family: "Lato-Regular", sans-serif;
    font-weight: 300;
    letter-spacing: -0.77px;
    padding: 0 0 11px 10px;
    text-align: justify;
}

.portfolio__list {
    display: flex;
    list-style-type: none;
    padding: 0 0 0 11px;
}

.portfolio__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #666d89;
    font-family: "Lato-Semibold", sans-serif;
    display: block;
    cursor: pointer;
    margin-right: 11px;
    border-radius: 5px;
    border: 1px solid #666d89;
    text-align: center;
    padding: 0px 6px;
    word-spacing: -2.1px;
}

.portfolio__link_active {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.portfolio__link:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.portfolio__img-container {
    margin-top: 14px;
    margin-left: 7px;
    max-height: 621px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px;
}

.portfolio__img_order {
    order: 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 23.5%;
    margin: 0;
    margin-bottom: 14px;
    transition-duration: 3s;
}

.portfolio__img {
    width: 100%;
}

.portfolio__img_active {
    outline: #f06c64 solid 5px;
}

.about {
    background-color: #f2f2f2;
    border-bottom: solid 6px #ffffff;
    padding: 42px 30px 66px 30px;
    position: relative;
    scroll-margin-top: 95px;
}

.about-us__heading {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    padding: 27px 10px;
}

.about-us__description {
    font-size: 19px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-Regular", sans-serif;
    font-weight: 300;
    letter-spacing: -0.77px;
    padding-bottom: 15px;
    text-align: justify;
    padding-left: 10px;
}

.container-cutaway {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.cutaway {
    width: 31.4%;
    transition-duration: 1s;
    max-height: 780px;
}

.cutaway__photo img {
    width: 100%;
    overflow: hidden;
}

.cutaway__name {
    font-size: 19px;
    line-height: 16px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    margin-top: 13px;
    letter-spacing: -0.8px;
    text-overflow: ellipsis;
    height: 15.3px;
    overflow: hidden;
}

.cutaway__description {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato-Semibold", sans-serif;
    letter-spacing: -0.13px;
    margin-top: 11px;
    text-align: justify;
}

.messenger__container {
    width: 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.messenger__icon {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #666d89;
}

.messenger__icon:hover {
    border-color: black;
}

.messenger__facebook {
    background: url(./assets/img/facebook.png) no-repeat 11px 8px;
}

.messenger__google {
    background: url(./assets/img/google.png) no-repeat 8px 8px;
}

.messenger__twitter {
    background: url(./assets/img/twitter.png) no-repeat 7px 9px;
}

.messenger__linkedIn {
    background: url(./assets/img/linkedIn.png) no-repeat 8px 8px;
}

.contact {
    background-color: #f06c64;
    max-height: 563px;
    border-bottom: solid 6px #ea676b;
    padding: 43px 53px 43px 30px;
    position: relative;
    scroll-margin-top: 95px;
}

.form-contact__heading {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-Black", sans-serif;
    padding: 27px 10px;
    letter-spacing: -0.2px;
}

.form-contact__description {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato-Regular", sans-serif;
    font-weight: 300;
    letter-spacing: -0.33px;
    padding: 0 0 11px 10px;
    text-align: justify;
}

.form-contact__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 34px 0 10px 12px;
}

.form {
    width: 64%;
    transition-duration: 1s;
}

.form-fields {
    font-size: 11px;
    font-family: "Lato-Semibold", sans-serif;
    letter-spacing: 0.6px;
    background: #d6564f;
    border: solid #d6564f 1px;
    border-radius: 5px;
    width: 100%;
    height: 34px;
    padding-left: 14px;
    margin-bottom: 16px;
    outline: none;
    color: #f0d8d9;
}

.form-fields__textarea {
    resize: none;
    height: 190px;
    padding: 10px 0px 0px 14px;
    letter-spacing: 0.35px;
}

.form-fields:hover {
    border: solid 1px #f0d8d9;
}

.form-fields::placeholder {
    color: #f48c8f;
}

.submit {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Lato-Black", sans-serif;
    padding: 10px 49px;
    color: #886a30;
    background-color: #fbc65f;
    border: solid #fbc65f 1px;
    border-radius: 5px;
    outline: none;
    transition-duration: 1s;
}

.submit:hover {
    cursor: pointer;
    border: solid 1px #f0d8d9;
}

.contact-block {
    width: 32%;
}

.contact-block__heading {
    font-size: 19px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-Black", sans-serif;
    letter-spacing: -0.43px;
}

.contact-block__description {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato-Semibold", sans-serif;
    padding: 10px 0 20px 0;
    text-align: justify;
    letter-spacing: -0.1px;
}

.contact-block__fields {
    text-decoration: none;
    font-size: 11.7px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato-Semibold", sans-serif;
    display: block;
    margin-left: 14px;
}

.contact-block__fields:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contact-block__location::before {
    content: url("./assets/img/location.png");
    position: relative;
    right: 10px;
}

.contact-block__phone {
    margin-left: 10px;
}

.contact-block__phone::before {
    content: url("./assets/img/phone.png");
    position: relative;
    right: 8px;
}

.contact-block__mail {
    margin-left: 8px;
}

.contact-block__mail::before {
    content: url("./assets/img/mail.png");
    position: relative;
    right: 7px;
}

.footer {
    background-color: #2d303a;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 43px;
}

.copyright {
    color: #666d89;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
}

.footer__icons {
    margin-top: 1px;
}

#message-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0008;
}

#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 45%;
    left: 40%;
    background: #f06c64;
    padding: 30px;
    z-index: 1;
    border: solid #d6564f 1px;
    border-radius: 5px;
    width: 300px;
    opacity: 0.9;
    text-align: center;
    font-family: "Lato-Regular", sans-serif;
    color: #f0d8d9;
    overflow: auto;
    max-height: 300px;
}

.message-block__header {
    font-size: 20px;
}

.message-block__description {
    font-size: 15px;
}

@media (max-width: 1019px) {
    .header {
        height: 5.5em;
        padding: 0 2.4em;
    }
    .logo {
        font-size: 1.6em;
    }
    .nav__list {
        padding-top: 7px;
    }
    .nav__link {
        padding-left: 2.5em;
    }
    .home {
        height: 28.3em;
    }
    .slider1__flex {
        padding: 42px 34px 0 35px;
    }
    .iPhone-vertical {
        width: 181px;
        height: 363px;
    }
    .iPhone-vertical__click {
        width: 10em;
        height: 21.5em;
    }
    .iPhone-vertical__off {
        width: 142px;
        height: 252px;
        left: 10.5px;
        top: 48px;
    }
    .iPhone-horizontal {
        width: 363px;
        height: 181px;
    }
    .iPhone-horizontal__click {
        width: 345px;
        height: 163px;
    }
    .iPhone-horizontal__off {
        width: 253px;
        height: 143px;
        left: 43px;
        top: 10px;
    }
    .button-left {
        top: 213px;
        left: 31px;
    }
    .button-right {
        top: 213px;
        right: 28px;
    }
    .services {
        padding: 23px 74px 56px 40px;
        border-bottom: none;
    }
    .services__description {
        padding-bottom: 0;
    }
    .item-services {
        padding-top: 35px;
        padding-bottom: 17px;
    }
    .portfolio {
        padding: 42px 41px 48px 29px;
    }
    .portfolio__description {
        padding-right: 50px;
        padding-bottom: 14px;
    }
    .portfolio__img-container {
        max-height: 1063px;
        margin-top: 25px;
    }
    .portfolio__img_order {
        width: 31.4%;
        margin-bottom: 16px;
    }
    .portfolio__img {
        width: 100%;
    }
    .about {
        padding: 35px 30px 69px;
    }
    .container-cutaway {
        margin: 24px 3px 0 5px;
    }
    .cutaway__name {
        margin-top: 7px;
    }
    .cutaway__description {
        margin-top: 6px;
    }
    .messenger__container {
        margin-top: 13px;
    }
    .contact {
        padding-top: 37px;
        padding-bottom: 25px;
    }
    .form-contact__content {
        padding: 15px 10px;
    }
    .form-fields {
        margin-bottom: 12px;
        width: 100%;
    }
    .form {
        width: 62%;
    }
    .contact-block {
        width: 31.5%;
    }
    .form-fields__textarea {
        height: 148px;
    }
    .contact-block__description {
        padding: 4px 0 9px 0;
    }
    .footer__icons {
        margin-top: 2px;
    }
}

@media (max-width: 767px) {
    .header {
        height: 4.1em;
    }
    .logo {
        margin: 0 auto;
        font-size: 1.25em;
        padding-right: 13px;
        padding-top: 8px;
        transition: 1s;
    }
    .logo.active {
        padding-right: 166px;
        padding-top: 7px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 25px;
        height: 19px;
        z-index: 3;
        left: -18.5px;
        top: 3px;
        transition: 1s;
        cursor: pointer;
    }
    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger.active {
        transform: rotate(90deg);
    }
    .header__burger span {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
    }
    .nav__header {
        position: fixed;
        top: 0;
        left: -100%;
        width: 69%;
        height: 100%;
        background-color: #2d303a;
        padding: 70px 10px 20px 10px;
        transition: 1s;
    }
    .nav__header.active {
        left: 0;
    }
    .nav__list {
        display: block;
        padding-top: 158px;
        padding-left: 0px;
    }
    .nav__item {
        margin: 0 0 20px 0;
    }
    .nav__item::before {
        display: none;
    }
    .nav__link {
        font-size: 25px;
        line-height: 38px;
        letter-spacing: -1.6px;
    }
    .home {
        height: 13.8em;
    }
    .button-left {
        top: 97px;
        left: 8px;
    }
    .button-right {
        top: 97px;
        right: 9px;
    }
    .slider1__flex {
        padding: 20px 19px 0 17px;
    }
    .iPhone-vertical {
        width: 88px;
        height: 177px;
    }
    .iPhone-vertical__click {
        width: 4.9em;
        height: 10.5em;
    }
    .iPhone-vertical__off {
        width: 69px;
        height: 122px;
        left: 5.5px;
        top: 24px;
    }
    .iPhone-horizontal {
        width: 177px;
        height: 88px;
    }
    .iPhone-horizontal__click {
        width: 10.5em;
        height: 4.9em;
    }
    .iPhone-horizontal__off {
        width: 122px;
        height: 69px;
        left: 22px;
        top: 5px;
    }
    .services {
        padding: 8px 43px 25px 32px;
    }
    .item-services {
        padding: 27px 0 0 0;
    }
    .portfolio {
        padding: 25px 31px 29px 20px;
        border-bottom: none;
    }
    .portfolio__description {
        padding-bottom: 16px;
    }
    .portfolio__img-container {
        max-height: 1114px;
        margin-top: 25px;
    }
    .portfolio__img_order {
        width: 47.9%;
        margin-bottom: 10px;
    }
    .portfolio__img_order:nth-child(n+9) {
        display: none;
    }
    .about {
        padding: 17px 27px 32px 26px;
    }
    .container-cutaway {
        margin: 9px 3px 5px 5px;
    }
    .cutaway {
        width: 100%;
    }
    .cutaway:nth-child(n+2) {
        padding-top: 34px;
    }
    .cutaway__name {
        margin-top: 15px;
    }
    .contact {
        padding: 27px 43px 25px 19px;
        max-height: 910px;
    }
    .form {
        width: 100%;
    }
    .form-fields {
        width: 96%;
        margin-bottom: 11px;
    }
    .submit {
        width: 100%;
        height: 49px;
    }
    .contact-block {
        width: 100%;
        margin-top: 32px;
    }
    .contact-block__fields {
        margin-top: 3px;
    }
    .footer__icons {
        margin: 0 auto;
    }
    .copyright {
        display: none;
    }
}